.content {
    margin-top: 100px;
    .wrap-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .box-form {
            border: 1px solid $c-grey;
            padding: 15px;
            width: 400px;
            box-shadow: -6px 6px 22px rgba(0, 0, 0, 0.15);
            .boxs-header {
                color: $c-black;
                padding: 10px 0px;
                font : {
                    size: 24px;
                    weight: 400;
                    family: $roboto;
                }
            }
            .boxs-body {
                form {
                    label {
                        color: $c-black;
                        padding: 8px 0px;
                        font : {
                            size: 16px;
                            weight: 400;
                            family: $roboto;
                        }
                    } 
                    input {
                        border-color: $c-grey;
                        font-family: $roboto;
                        ::-webkit-input-placeholder,
                        ::-moz-placeholder,
                        :-moz-placeholder,
                        :-ms-input-placeholder {
                            color: $c-grey !important;
                            text-indent: 10px;
                        }
                    } 
                }
            }
            .btn-custom {
                background-color: $c-green;
                border: 2px solid transparent;
                color: $c-white;
                transition: .3s;
                font : {
                    size: 18px;
                    weight: 400;
                    family: $roboto;
                }
                &:hover {
                    background-color: $c-white;
                    border: 2px solid $c-green;
                    color: $c-green;
                }
            }
        }
    }
}